.additional-card {
  display: grid;
  grid-template-columns: 50% 50%;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px 38px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 245px 80px 245px 80px 245px;
    padding: 0;
  }
}

.additional-card__title {
  grid-column: 1/-1;
  margin: 0;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $card-text;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.additional-card__description,
.additional-card__price {
  font-size: 14px;
  line-height: 14px;
}

.additional-card__description {
  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}

.additional-card__price {
  text-align: right;

  @media (min-width: $desktop-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4/5;
  }
}

.additional-card__button {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1/-2;
  }
}
