.additional-card__title {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $card-text;
}

.additional-card__description,
.additional-card__price {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
