.advantages__title {
  margin: 0;
  margin-bottom: 42px;

  font-family: $oswald-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;
}

.advantages__list {
  @include list;

  display: grid;
  gap: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 250px 250px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 250px);
  }
}

.advantages__item {
  padding-left: 80px;
}

.advantages__description {
  margin: 0;
}
