.advantages__title {
  margin: 0;
  margin-bottom: 42px;

  font-family: $oswald-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  @include list;

  display: grid;
  gap: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 250px 250px;
    row-gap: 37px;
    column-gap: 136px;
    counter-reset: item;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    min-height: 280px;

    &::after {
      position: absolute;
      top: 90px;
      left: 110px;
      font-family: $oswald-font;
      color: #f2f2f2;
      font-size: 280px;
      counter-increment: item;
      content: counter(item);
      z-index: -1;
    }
  }
}

.advantages__item--leaf {
  @media (min-width: $tablet-width) {
    width: 230px;
  }
}

.advantages__item::before {
  content: "";
  display: block;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: $theme-color;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.advantages__item--leaf::before {
  background-image: url("../img/icons/icon-leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--powder::before {
  background-image: url("../img/icons/icon-powder.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--food::before {
  background-image: url("../img/icons/icon-eat.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--time::before {
  background-image: url("../img/icons/icon-time.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__description {
  margin: 0;
}
