.button {
  display: block;
  padding: 10px 10px;
  min-height: 40px;

  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $text-light;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $button-color;
  border: none;
  cursor: pointer;

  &--hero {
    @media (min-width: $tablet-width) {
      width: 244px;
      padding: 14px 10px;
      min-height: 54px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &:hover:not(:disabled) {
    background-color: $button-hover;
  }

  &:active:not(:disabled) {
    background-color: $button-hover;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--secondary {
  color: $basic-text;
  background-color: $highlight-background;

  &:hover:not(:disabled) {
    background-color: #ebebeb;
  }

  &:active:not(:disabled) {
    background-color: #ebebeb;
    color: inherit;
  }
}
