.button {
  font-family: $oswald-font;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $basic-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $basic-green;
}
