.button {
  display: block;

  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $text-light;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $button-color;

  &--hero {
    padding: 8px 10px;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      padding: 14px 10px;
      width: 244px;

      font-size: 20px;
      line-height: 20px;
    }
  }
}

.button--secondary {
  color: $basic-text;
  background-color: $highlight-background;
}
