.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 17px;
  padding-top: 20px;
  padding-bottom: 24px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 37px 40px 37px;
    min-height: 511px;
    background-image: linear-gradient(to bottom, transparent 81px, #f2f2f2 81px);
  }
}

.card__image-link {
  display: block;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.card__image-link:hover,
.card__image-link:focus-visible {
  opacity: 0.9;
}

.card__image-link:active {
  opacity: 0.7;
}

.card__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }
}

.card__link {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.card__title {
  min-width: 50px;
  max-width: 76px;
  margin: 0;
  margin-bottom: 14px;

  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $card-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.card__list {
  @include list;

  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    row-gap: 8px;
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 10px;
  }
}

.card__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__value {
  margin: 0;
}

.card__button {
  grid-column: 1/-1;
}
