.card__title {
  font-family: $oswald-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $card-text;
  text-transform: uppercase;
}

.card__feature,
.card__value {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
