.catalog__list {
  @include list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;

    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;

    width: 1300px;
    padding: 0 40px;
    margin-bottom: 76px;
  }
}

.catalog__item {
  border-bottom: 1px solid #ebebeb;

  &:first-child {
    border-top: 1px solid #ebebeb;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.catalog__subtitle {
  position: relative;
  margin: 0;
  padding-top: 53px;
  margin-bottom: 8px;

  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 110px;
    margin-bottom: 23px;
    width: 134px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.catalog__subtitle::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 2px;
  background-color: #d3d3d3;
  content: "";

  @media (min-width: $tablet-width) {
    height: 60px;
  }
}

.catalog__subtitle::after {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 30px;
  background-color: #d3d3d3;
  content: "";

  @media (min-width: $tablet-width) {
    top: 28px;
    width: 60px;
  }
}

.catalog__text {
  margin: 0;
  margin-bottom: 21px;

  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 82px;
    width: 170px;

    font-size: 16px;
    line-height: 18px;
  }
}

.catalog__card-wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }
}

.catalog__show-all {
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    padding: 50px 37px 40px 37px;
    margin: 0;
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 324px;

    border: 2px solid #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    min-height: 430px;

    border: 2px solid #f2f2f2;
  }
}
