.example {
  background-color: $highlight-background;
}

.example__title {
  margin: 0;

  font-family: $oswald-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $title-color;
}

.example__text {
  margin: 0;
}

.example__list {
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 32px;
  margin: 0;
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__value {
  font-family: $oswald-font;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.example__description {
  margin: 0;

  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.example__expenses {
  margin: 0;

  font-family: $oswald-font;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.example__sum {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
