.footer {
  background-color: $highlight-background;
}

.footer__container--index {
  background-color: #ffffff;
}

.footer__invitation {
  margin: 0;

  font-family: $oswald-font;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 170px;

    font-size: 20px;
    line-height: 26px;
  }
}

.footer__adress {
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.footer__wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  min-height: 112px;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 200px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    background-color: #ffffff;
  }
}

.footer__city {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.footer__links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  display: block;
}

.footer__copyright {
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}


.footer__map {
  display: block;
  margin: 0 auto;
}
