.footer {
  background-color: $basic-grey;
}

.footer__invitation {
  font-family: $oswald-font;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.footer__adress {
  font-style: normal;
  line-height: 20px;
}

.footer__wrapper--index {
  background-color: $basic-white;
}
