.form {
  font-family: $oswald-font;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.form__list {
  @include list;
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__control {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 18px;
  color: $basic-text;
  text-transform: uppercase;

  &::placeholder {
    color: $basic-text;
  }
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  color: $title-color;
}

.form__message {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
