.gift {
  position: relative;
  min-height: 290px;
  padding-top: 187px;
  padding-left: 58px;
  padding-right: 58px;
  padding-bottom: 20px;

  color: $text-light;
  background-color: $theme-color;
  background-image: url("../img/backgrounds/gift-background-small.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/gift-background-small@2x.jpg");
    background-size: 280px auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    padding-top: 71px;
    padding-left: 421px;
    padding-right: 125px;
    padding-bottom: 69px;

    background-image: url("../img/backgrounds/gift-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/gift-background-tablet@2x.jpg");
      background-size: 707px auto;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 288px;
    padding-top: 185px;
    padding-left: 42px;
    padding-right: 40px;
    padding-bottom: 30px;

    background-image: url("../img/backgrounds/gift-background-small.jpg");
    background-position: right top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/gift-background-small@2x.jpg");
      background-size: 280px auto;
    }
  }
}

.gift::before {
  position: absolute;
  top: 59px;
  left: 101px;
  content: "";
  height: 78px;
  width: 80px;
  background-image: url("../img/icons/icon-gift.svg");

  @media (min-width: $tablet-width) {
    top: 57px;
    left: 77px;
    height: 82px;
    width: 80px;
    background-size: 82px 80px;
  }

  @media (min-width: $desktop-width) {
    top: 56px;
    height: 83px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    background-size: 83px 80px;
  }
}

.gift__text {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
