.header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-height: 50px;
  }
}

.header__wrapper {
  padding: 13px 0 14px;
  display: flex;
  justify-content: space-between;
}

.header__burger {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
