.hero {
  font-family: $oswald-font;
  text-align: center;
  color: $text-light;
  background-color: $theme-color;
  background-image: url("../img/backgrounds/background-hero.png"), linear-gradient(to bottom, #63a63a 303px, #ffffff 303px);
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    text-align: start;
    color: $title-color;
    background-color: #ffffff;
    background-image: none;
  }
}

.hero--index {
  @media (min-width: $desktop-width) {
    background-image: url("../img/backgrounds/background-index-desktop.png"), linear-gradient(to right, #ffffff 50%, #64a73b 50%);
    background-position: right top;
  }
}

.hero__container {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 65px 10px 0 90px;
    min-height: 875px;
  }

  @media (min-width: $desktop-width) {
    min-height: 694px;
    margin-bottom: 82px;
    padding-top: 224px;
    padding-left: 80px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    width: 430px;
  }
}

.hero__slogan {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;


  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    right: auto;
    bottom: auto;
    top: 143px;
    left: 447px;

    width: 552px;
    height: 557px;
  }
}

.hero__button {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}
