.hero {
  padding-top: 27px;

  font-family: $oswald-font;
  text-align: center;
  color: $text-light;
  background-color: $theme-color;

  @media (min-width: $tablet-width) {
    text-align: start;
    color: $title-color;
    background-color: #ffffff;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 430px;
  }
}

.hero__slogan {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
}
