.logo {
  display: flex;
  align-items: center;
  width: 190px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo--footer {
  width: auto;
  height: auto;
}

.logo--footer:hover .logo__text path,
.logo--footer:focus-visible .logo__text path {
  fill: #3e3e3e;
}

.logo--footer:active .logo__text path {
  fill: #6b6b6b;
}

.logo__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }
}

.logo__text {
  display: block;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}
