.navigation {
  font-family: $oswald-font;
  color: $title-color;
}

.navigation__list {
  @include list;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
  }
}

.navigation__link {
  font-size: 20px;
  line-height: 20px;
  color: inherit;
  text-transform: uppercase;
}
