.navigation {
  font-family: $oswald-font;
  color: $title-color;
}

.navigation--index {
  @media (min-width: $desktop-width) {
    color: $text-light;
  }
}

.navigation__list {
  @include list;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
  }
}

.navigation__link {
  display: block;
  padding: 22px 0 24px;

  font-size: 20px;
  line-height: 20px;
  color: inherit;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
  }
}
