.slider {
  position: relative;
  height: 256px;
  width: 280px;

  @media (min-width: $tablet-width) {
    height: 512px;
    width: 560px;
  }
}

.slider__image {
  display: block;
  max-width: none;
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    width: 560px;
    background: linear-gradient(to bottom, #ffffff, #ffffff 151px, #eaeaea 151px, #eaeaea 100%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, #ffffff, #ffffff 135px, #f2f2f2 135px, #f2f2f2 100%);
  }
}

.slider__before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 50%;
  overflow: hidden;
}

.slider__toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 5;

  cursor: pointer;
}

.slider__toggle::before {
  position: absolute;
  bottom: -108px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 256px;
  background-color: #666666;
  border-radius: 2px;
  content: "";
  z-index: -1;

  @media (min-width: $tablet-width) {
    height: 512px;
    bottom: -236px;
  }
}

.slider__toggle-image {
  color: #666666;
}

.slider__toggle:hover .slider__toggle-image {
  color: $theme-color;
}

.slider__toggle:active .slider__toggle-image {
  color: rgba(94, 170, 47, 0.6);
}

.slider__toggle:hover::before {
  background-color: $theme-color;
}

.slider__toggle:active::before {
  background-color: #5eaa2f;
  opacity: 0.6;
}
